*.DS_Store
*.gem
*.rbc
.bundle
.config
.yardoc
.jekyll-metadata
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
demo/
tmp/

node_modules/
package-lock.json
.sass_cache/
_site/

_data/
_includes/
_layouts/
_sass/
api/
assets/
documentation/
examples/
