//
// CONFIG/VARIABLES
// --------------------------------------------------

// Grid
$max-cols: 12;

// Menu
$menu-w: 100%;
$menu-h: 50px;

// Colors
$black: #000000;
$white: #ffffff;
$green: #6bb130;
$yellow: #e9b70b;
$text-color: #333333;

$anchor-color: #4664eb;
$anchor-hover: #e69018;

$bkg-menu: #afd8b0;
$color-menu: #537849;
