//
// Alerts mixins
// --------------------------------------------------


@mixin alert-theme($background, $border, $color) {
  color: $color;
  border: $border-width solid $border;
  background-color: $background;

  hr {
    background-color: darken($border, 5%);
  }

  .alert-link {
    color: darken($color, 70%);
  }
}