@mixin extended_centered_menu($bkg: $bkg-menu, $color: $color-menu) {
  width: $menu-w;
  height: $menu-h;
  background: $bkg;

  a {
    display: inline-block;
    padding: 15px 20px;
    color: $color;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    &:hover {
      color: $color + 50;
    }
  }
}

@mixin extended_menu {
  width: $menu-w;
  height: $menu-h;
  background: $bkg;
}

@mixin menu {
  width: 1200px;
  height: $menu-h;
  background: $bkg;

  a {
    display: inline-block;
    padding: 15px 20px;
  }
}
