.container
  %header.row
    .twelve-columns
      %h1 Base

  %main.row
    %aside.three-columns
      %menu
        = link_to 'Headers', '#headers'
        = link_to 'Paragraphs', '#paragraphs'
        = link_to 'Links', '#links'
        = link_to 'Lists', '#lists'
    %section#headers.nine-columns
      %h1 Header 1
      %h2 Header 2
      %h3 Header 3
      %h4 Header 4
      %h5 Header 5
      %h6 Header 6
