%nav.nav
  .row
    %a{href: "#"}
      Home
    %a{href: "#"}
      Started
    %a{href: "#"}
      Scaffolding
    %a{href: "#"}
      Base
    %a{href: "#"}
      Components

%header
  .row
    .twelve-columns
      %h1 Cactu
      %p
        A Sass library to create webs easily and quickly

