{%- comment -%}
  Usage: {% include example.html content=example %}, after of {% endcapture %}
  optional: id - "" (default)
  optional: class - "highlight-example" (default)
  optional: hide_preview - null (default)
  optional: hide_markup - null (default)
{%- endcomment -%}

{%- assign preview_id = include.id -%}
{%- assign preview_class = include.class -%}

{%- if include.hide_preview == null -%}
  <div{% if preview_id %} id="{{ preview_id }}" {% endif %} class="highlight-example{% if preview_class %} {{ preview_class }}{% endif %}">
    {{- include.content -}}
  </div>
{%- endif -%}

{%- if include.hide_markup == null -%}
  {%- highlight html -%}
    {{- include.content | replace: 'data-src="holder.js', 'src="...' -}}
  {%- endhighlight -%}
{%- endif -%}