<header id="principal-menu" class="navbar-expanded">
  <a class="navbar-brand" href="/">Cactu</a>
  <button class="submenu-toggle">
    <span>Submenu</span>
    <span>Close</span>
  </button>
  <button class="navbar-toggler">
    <i class="menu-icon"></i>
  </button>
  <nav>
    <a class="{% if page.layout == "home" %}active{% endif %}" href="/">Home</a>
    <a class="{% if page.layout == "documentation" %}active{% endif %}" href="/documentation/getting-started/introduction/">Documentation</a>
    <a class="{% if page.layout == "api" %}active{% endif %}" href="/api/getting-started/introduction/">API</a>
    <a class="{% if page.layout == "examples" %}active{% endif %}" href="/examples/">Examples</a>
  </nav>
</header>