<nav class="nav-vertical">
  <div>
    <a href="/documentation/getting-started/introduction">Getting started</a>
    <nav>
      <a href="/documentation/getting-started/introduction">Introduction</a>
      <a href="/documentation/getting-started/introduction">Download</a>
      <a href="/documentation/getting-started/introduction">Contents</a>
      <a href="/documentation/getting-started/introduction">Browsers and devices</a>
    </nav>
  </div>
  <div>
    <a href="/documentation/base//global-variables">Base</a>
    <nav>
      <a href="/documentation/base/global-variables">Global variables</a>
      <a href="/documentation/base/reboot">Reboot</a>
    </nav>
  </div>
  <div>
    <a href="/documentation/elements/typography">Elements</a>
    <nav>
      <a href="/documentation/elements/typography">Typography</a>
      <a href="/documentation/elements/code">Code</a>
      <a href="/documentation/elements/button">Button</a>
      <a href="/documentation/elements/image">Image</a>
    </nav>
  </div>
</nav>