<nav class="nav-vertical">
  <div>
    <a href="/documentation/getting-started/introduction">Getting started</a>
    <nav>
      <a href="/documentation/getting-started/introduction">Introduction</a>
      <a href="/documentation/getting-started/introduction">Download</a>
      <a href="/documentation/getting-started/introduction">Contents</a>
      <a href="/documentation/getting-started/introduction">Browsers and devices</a>
    </nav>
  </div>
  <div>
    <a href="/documentation/base/reset">Base</a>
    <nav>
      <a href="/documentation/base/reset">Reset</a>
      <a href="/documentation/base/reset">Global variables</a>
      <a href="/documentation/base/reset">Reboot</a>
    </nav>
  </div>
  <div>
    <a href="/documentation/elements/typography">Elements</a>
    <nav>
      <a href="/documentation/elements/typography">Typography</a>
      <a href="/documentation/elements/typography">Code</a>
      <a href="/documentation/elements/typography">Link</a>
      <a href="/documentation/elements/typography">Button</a>
      <a href="/documentation/elements/typography">Image</a>
    </nav>
  </div>
</nav>