<nav class="nav-vertical">
  <div class="nav-dropdown">
    <a href="/documentation/getting-started/introduction">
      Getting started
      <i class="chevron-down-icon"></i>
    </a>
    <nav class="show">
      <a href="/documentation/getting-started/introduction">Introduction</a>
      <a href="/documentation/getting-started/introduction">Download</a>
      <a href="/documentation/getting-started/introduction">Contents</a>
      <a href="/documentation/getting-started/introduction">Browsers and devices</a>
    </nav>
  </div>
  <div class="nav-dropdown">
    <a href="/documentation/base//global-variables">Base</a>
    <nav>
      <a href="/documentation/base/global-variables">Global variables</a>
      <a href="/documentation/base/reboot">Reboot</a>
    </nav>
  </div>
  <div class="nav-dropdown">
    <a href="/documentation/elements/typography">Elements</a>
    <nav>
      <a href="/documentation/elements/typography">Typography</a>
      <a href="/documentation/elements/code">Code</a>
      <a href="/documentation/elements/button">Button</a>
      <a href="/documentation/elements/image">Image</a>
    </nav>
  </div>
  <div class="nav-dropdown">
    <a href="/documentation/components/alerts">Components</a>
    <nav>
      <a href="/documentation/components/alerts">Alerts</a>
      <a href="/documentation/components/buttons">Buttons</a>
      <a href="/documentation/components/dropdowns">Dropdowns</a>
      <a href="/documentation/components/forms">Forms</a>
      <a href="/documentation/components/lists">Lists</a>
      <a href="/documentation/components/tables">Tables</a>
    </nav>
  </div>
</nav>