//
// FUNCTIONS/GRID
// --------------------------------------------------


@function width_column($num, $size, $gutter) {
  @return ($num * $size) + (($num - 1) * $gutter);
}

@function grid_size($column, $gutter, $max_cols) {
  @return ($column * $max_cols) + ($gutter * $max_cols);
}

@function fluid_width_column($num, $size, $gutter, $max_cols: 12) {
  $col_width: width_column($num, $size, $gutter);
  $sizer: grid_size($size, $gutter, $max_cols);

  @return percentage($col_width / $sizer);
}

@function gutter_columns($column, $gutter, $max_cols) {
  @return percentage(($gutter / 2) / grid_size($column, $gutter, $max_cols));
}

@function numbers($number) {
  $n: "one", "two", "three", "four", "five", "six", "seven", "eight", "nine", "ten", "eleven",
  "twelve", "thirteen", "fourteen", "fifteen", "sixteen", "seventeen", "eighteen", "nineteen",
  "twenty", "twenty-one", "twenty-two", "twenty-three", "twenty-four", "twenty-five", "twenty-six", "twenty-seven",
  "twenty-eight", "twenty-nine", "thirty", "thirty-one", "thirty-two", "thirty-three",
  "thirty-four", "thirty-five", "thirty-six", "thirty-seven", "thirty-eight", "thirty-nine", "forty";
  @return nth($n, $number);
}
