//
// Clases utility
// --------------------------------------------------


$example-code-color: $white-smoke !default;
$disabled-class-color: $disabled-color !default;

// Class with -expanded to the end
//
[class*="-expanded"] {
  width: 100%;
  max-width: 100%;
}

.highlight-example {
  border: 3px solid $example-code-color;
  padding: 1.5rem 1rem;
  margin-top: 1rem;
}

.disabled {
  color: $disabled-class-color;
  pointer-events: none;

  @include hover-focus {
    color: $disabled-class-color;
  }
}

// Alignment classes to the end
//
// Not used for display flex
[class*="-centered"] {
  text-align: center;
}
[class*="-right"] {
  text-align: right;
}

// For flex alignment
[class*="-start"] {
  justify-content: start;
}
[class*="-center"] {
  justify-content: center;
}
[class*="-end"] {
  justify-content: end;
}
[class*="-around"] {
  justify-content: space-around;
}
[class*="-between"] {
  justify-content: space-between;
}
[class*="-evenly"] {
  justify-content: space-evenly;
}


// Dispay classes
//
.show { display: block !important; }
.hidden { display: none !important; }

.clipped {
  overflow: hidden;
}