//
// Clases utility
// --------------------------------------------------


$example-code-color: $white-smoke;

// Class with -expanded to the end
[class$="-expanded"] {
  width: 100%;
  max-width: 100%;
}

.highlight-example {
  border: 3px solid $example-code-color;
  padding: 1.5rem 1rem;
  margin-top: 1rem;
}

.show { display: block !important; }
.hidden { display: none !important; }