//
// UI/BASE
// --------------------------------------------------

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

html, body {
  width: 100%;
  height: 100%;
  line-height: 1.250em;
  font: 14px/20px Helvetica, Arial, sans-serif;
  color: #333333;
  background-color: #ffffff;
}

article,
aside,
details,
div,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
}

.container, .row {
  overflow: hidden;
  margin: 0 auto;
  width: 100%;	
}

[class *="centered"] {
  text-align: center;
}
