//
// UI/TEXT
// --------------------------------------------------

.hide-text {
  background-color: transparent;
  border: 0;
  font: 0/0 Helvetica;
  color: transparent;
  text-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  padding: 10px 0;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 31.5px;
}

p {
  padding: 10px 0;
}
