//
// UI/TEXT
// --------------------------------------------------

.hide-text {
  background-color: transparent;
  border: 0;
  color: transparent;
  text-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  padding: 0.3em 0;
}

h1 { font-size: 4.2em; }
h2 { font-size: 3.6em; }
h3 { font-size: 3.1em; }
h4 { font-size: 2.6em; }
h5 { font-size: 2em; }
h6 { font-size: 1.5em; }

p {
  padding: 0.5em 0;
}
