//
// Alerts
// --------------------------------------------------


// Variables
//
$alert-padding:              1rem !default;
$alert-radius:               $radius !default;
$alert-background-level:     -10 !default;
$alert-border-level:         -2 !default;
$alert-color-level:          6 !default;
$alert-color-base:           $yellow !default;
$alert-background:           theme-color-level($alert-color-base, $alert-background-level) !default;
$alert-border:               theme-color-level($alert-color-base, $alert-border-level) !default;
$alert-color:                theme-color-level($alert-color-base, $alert-color-level) !default;


.alert,
.alert-dismissible {
  position: relative;
  padding: $alert-padding;
  border-radius: $alert-radius;
  @include alert-theme($alert-background, $alert-border, $alert-color);

  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
  }
}

.alert-dismissible {
  padding-right: 2.625rem;

  .close {
    position: absolute;
    top: 5px;
    right: 0;
    font-size: 1.625rem;
    line-height: 1;
    color: inherit;
    box-shadow: none !important;
    background-color: transparent;

    @include hover-focus-active {
      color: darken($alert-background, 80%);
      // Used !important be cause the base style is set with:
      // &:not(:disabled):not(.disabled):active,
      // &:not(:disabled):not(.disabled).active
      background-color: transparent !important;
    }
  }
}