//
// Navs
// --------------------------------------------------


// Variables
//
$nav-link-padding: .5rem !default;
$nav-dropdown-link-padding-y: $nav-link-padding !default;
$nav-dropdown-link-padding-x: $nav-link-padding + .75 !default;


[class*="nav-"] {
  a {
    position: relative;
    text-decoration: none;
  }
}

.nav-vertical {
  a {
    display: block;
    padding: $nav-link-padding;
  }
}

.nav-dropdown {
  &:not(:last-child) {
    > a {
      border-bottom: 1px solid #eee;
    }
  }
  > a {
    i:before,
    i:after {
      background-color: $link-color;
    }

    @include hover-focus {
      i:before,
      i:after {
        background-color: $link-hover-color;
      }
    }
  }
  nav {
    display: none;
    a {
      padding: $nav-dropdown-link-padding-y $nav-dropdown-link-padding-x;
    }
  }

  &.dropped {
    > a i {
      &:before { transform: rotate(-45deg); }
      &:after { transform: rotate(45deg); }
    }

    nav { display: block; }
  }
}