//
// Navs
// --------------------------------------------------


// Variables
//
$nav-link-padding:                .5rem !default;
$nav-dropdown-icon-color:         $link-color !default;
$nav-dropdown-hover-icon-color:   $link-hover-color !default;
$nav-dropdown-link-padding-y:     $nav-link-padding !default;
$nav-dropdown-link-padding-x:     $nav-link-padding + .75 !default;


[class^="nav-"] {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;

  a {
    position: relative;
    text-decoration: none;
    padding: $nav-link-padding;
  }

  .nav-dropdown {
    flex-direction: column;

    > a {
      i:before,
      i:after {
        background-color: $nav-dropdown-icon-color;
      }

      @include hover-focus {
        i:before,
        i:after {
          background-color: $nav-dropdown-hover-icon-color;
        }
      }
    }
    
    nav {
      display: none;
      flex-direction: column;

      a {
        font-size: 90%;
        padding: $nav-dropdown-link-padding-y $nav-dropdown-link-padding-x;
      }
    }

    &.active {
      > a i {
        &:before { transform: rotate(-45deg); }
        &:after { transform: rotate(45deg); }
      }

      nav { display: flex; }
    }
  }
}

.nav-horizontal,
.nav-horizontal-center,
.nav-horizontal-end {
  flex-direction: row;

  * {
    display: flex;
    margin: 0;
  }
}

.nav-vertical {
  flex-direction: column;
}