//
// Navbars
// --------------------------------------------------


// Variables
//
$navbar-padding-y:    0 !default;
$navbar-padding-x:    15px !default;
$navbar-background:   $white-smoke !default;
$toggler-color:       $text-color !default;
$link-padding-y:      .9375rem !default;
$brand-gap:           .625rem !default;


// Blocks
//
%show-menu {
  opacity: 1;
  height: auto;
}


.navbar,
.navbar-expanded {
  position: relative;
  display: flex;
  flex-wrap: wrap; // allow us to do the line break for collapsing content
  align-items: center;
  // The base navbar-variant get the base grays colors
  @include navbar-theme;

  a {
    text-decoration: none;
  }

  nav {
    display: flex;
    height: 0;
    opacity: 0;
    overflow: hidden;
    @include transition($transition-all);

    a {
      padding: $link-padding-y;
    }
  }

  // Because flex properties aren't inherited, we need to redeclare these first
  // few properities so that content nested within behave properly.
  [class*="column"] {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .navbar-toggler {
    width: auto;
    height: 40px;
    margin: 7px 0;
    background: none;
  }

  .show-menu {
    @extend %show-menu;
  }

  [type="checkbox"] {
    display: none;

    &:checked {
      & ~ nav {
        @extend %show-menu;
      }

      & ~ .navbar-toggler > .menu-icon {
        &:before {
          transform: rotate(45deg);
          margin-top: 9px;
        }

        &:after {
          transform: rotate(-45deg);
          margin-top: -9px;
        }
      }
    }
  }
}

.navbar-brand {
  margin-right: $brand-gap;
}

.navbar-expanded {
  width: 100%;  
  padding: $navbar-padding-y $navbar-padding-x;

  // Set grid padding between cellphone and medium desktop sizes
  @include breakpoint-cellphone-medium-desktop {
    padding: $navbar-padding-y ($navbar-padding-x - 5px);
  }
}

// Responsive navbars
//
@include breakpoint-max($tablet-size - 1) {
  .navbar,
  .navbar-expanded {
    justify-content: space-between;

    nav {
      width: 100%;
      flex-direction: column;

      a {
        padding: .625rem 0;
      }
    }
  }

  .navbar {
    [class*="column"] {
      justify-content: space-between;
    }
  }
}

@include breakpoint-min($tablet-size) {
  .navbar,
  .navbar-expanded {
    justify-content: start;

    nav {
      height: auto;
      opacity: 1;
    }

    .navbar-toggler {
      display: none;
    }
  }
}