//
// Navs
// --------------------------------------------------


[class*="nav-"] {
  a { text-decoration: none; }
}

.nav-vertical {
  a {
    display: block;
  }
  nav {
    padding-left: .8rem;
  }
}