//
// Sidebars
// --------------------------------------------------


.sidebar {
  height: calc(100vh - 3.375rem);
  position: sticky;
  top: 3.375rem;
  border-right: 1px solid $border-color;
  z-index: $zindex-top;

  @include breakpoint-cellphone {
    height: auto;
    border-right: 0;
  }
}