//
// Variables
// --------------------------------------------------


// Colors
//
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:     #007bff !default;
$yellow:   #f8f852 !default;
$red:      #dc3545 !default;
$green:    #28a745 !default;

$text-color:    $gray-800 !default;
$border-color:  $gray-300 !default;
$white-smoke:   #f5f5f5;

// Typography
//
$font-family-sans-serif:  -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-monospace:   Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family:             $font-family-sans-serif !default;
$font-size:               16px !default;

$font-weight-light:     300 !default;
$font-weight-normal:    400 !default;
$font-weight-bold:      700 !default;


// Grid breakpoints sizes
//
$cellphone-size:       576px !default;
$tablet-size:          768px !default;
$small-desktop-size:   960px !default;
$medium-desktop-size:  1200px !default;
$large-desktop-size:   1344px !default;

$maximum-columns:      12 !default;


// Miscellaneous
//
$radius:            4px !default;
$radius-rounded:    300000px !default;
$border-width:      1px !default;
$border-base:       $border-width solid $border-color !default;
$speed:             .15s !default;
$line-height:       1.5 !default;
$transition-all:    all $speed ease-in-out !default;
$outline-width:     .125rem !default;
$zindex-top:        1000 !default;
