//
// Example contents
// --------------------------------------------------


// Variables
//
$example-header-padding: 2.5rem 2rem 3rem;
$example-header-margin-botttom: 2rem;
$example-header-background: #fffce6;

#example-contents {
  header {
    padding: $example-header-padding;
    margin-bottom: $example-header-margin-botttom;
    background-color: $example-header-background;
  }
}