//
// Navbars
// --------------------------------------------------


$navbar-background-color: $principal-color;
$submenu-toggle-outline:  0 0 0 $outline-width darken($navbar-background-color, 15%);


#principal-menu {
  @include sticky-top;
  @include navbar-theme($navbar-background-color);

  .submenu-toggle {
    margin-left: auto;
    font-size: 85%;
    background-color: transparent;

    &:focus { box-shadow: $submenu-toggle-outline; }

    span {
      color: $black;

      &:last-child { display: none; }
    }
  }
}

@include breakpoint-min($tablet-size) {
  .submenu-toggle {
    display: none;
  }
}

@include breakpoint-max($tablet-size - 1) {
  .submenu-toggle {
    display: flex;
  }
}