//
// Navs
// --------------------------------------------------


// Variables
//
$submenu-padding-y: .5rem;
$sidebar-background: #fbfbfb;
$nav-vertical-transition: background-color $speed ease-in-out, color $speed ease-in-out;
$nav-link-color: lighten($text-color, 30%);
$nav-active-background: darken($sidebar-background, 4%);


// Blocks
//
%active-link {
  color: $link-color;
}


#submenu {
  a {
    color: $nav-link-color;
    padding: $submenu-padding-y 2rem $submenu-padding-y 1rem;
    @include transition($nav-vertical-transition);

    @include breakpoint-cellphone-medium-desktop {
      padding: $submenu-padding-y 2rem $submenu-padding-y .625rem;
    }

    &:hover {
      background-color: darken($nav-active-background, 3%);
    }
  }

  .nav-dropdown {
    &.active {
      > a {
        @extend %active-link;
      }
      
      nav {
        background-color: $nav-active-background;
      }
    }
    
    nav {
      a {
        padding: $nav-dropdown-link-padding-y ($nav-dropdown-link-padding-x + .75);

        @include breakpoint-cellphone-medium-desktop {
          padding: $nav-dropdown-link-padding-y ($nav-dropdown-link-padding-x + .5);
        }

        &.active {
          @extend %active-link;
        }
      }
    }
  }
}