//
// Sidebars
// --------------------------------------------------


.sidebar,
.sidebar-secondary {
  position: sticky;
  top: 3.375rem;
  height: calc(100vh - 3.375rem);
  overflow-y: auto;
  background-color: $white;
}

.sidebar {
  padding: .5rem 0;
  border-right: 1px solid $border-color;
  background-color: $sidebar-background;

  @include breakpoint-cellphone {
    height: 0;
    padding: 0;
    border-right: 0;
  }
}

.sidebar-secondary {
  font-size: .875rem;

  .section-nav {
    margin-top: 1.5rem;
    list-style: none;
    padding-left: 1rem;
    border-left: $border-width solid $border-color;

    li ul {
      list-style: none;
      padding-left: 1rem;
    }

    a {
      @include hover-focus {
        text-decoration: none;
      }
    }
  }

  @include breakpoint-max($small-desktop-size - 1) {
    display: none;
  }
  @include breakpoint-min($small-desktop-size) {
    display: block;
  }
}