//
// Sidebar principal
// --------------------------------------------------


// Variables
//
$sidebar-background:            #f6f6f6;
$nav-nested-link-padding-y:     .5rem !default;
$nav-nested-link-padding-x:     $nav-nested-link-padding-y * 2 !default;
$submenu-padding-y:             .5rem;
$nav-link-color:                lighten($text-color, 30%);
$nav-link-hover-background:     darken($sidebar-background, 5%);


.sidebar,
.sidebar-secondary {
  position: sticky;
  top: 3.4375rem;
  height: calc(100vh - 3.4375rem);
  overflow-y: auto;
  background-color: $white;
}

.sidebar {
  padding: .5rem 0;
  border-right: $border-base;
  background-color: $sidebar-background;

  a {
    color: $nav-link-color;
    padding: $submenu-padding-y 1rem;

    @include breakpoint-cellphone-medium-desktop {
      padding: $submenu-padding-y 1rem $submenu-padding-y .625rem;
    }

    @include hover-focus {
      background-color: $nav-link-hover-background;
    }
  }
}

.nav-nested {
  display: flex;
  flex-direction: column;

  nav {
    display: none;
    flex-direction: column;

    a {
      padding: $nav-nested-link-padding-y ($nav-nested-link-padding-x + .75) ;

      @include breakpoint-cellphone-medium-desktop {
        padding: $nav-nested-link-padding-y ($nav-nested-link-padding-x + .5);
      }

      &.active {
        color: $link-color;
      }
    }
  }

  &.active {
    > a {
      color: $link-color;
    }

    nav { display: flex; }
  }
}


@include breakpoint-max($tablet-size) {
  .sidebar {
    height: 0;
    padding: 0;
    border-right: 0;
    z-index: 90;
    @include transition(all $speed ease-in-out);

    &.dropped {
      height: calc(100vh - 3.4375rem);
      padding: 1rem 0;
      border-bottom: $border-base;
    }
  }
}