//
// Sidebar secondary
// --------------------------------------------------


.sidebar-secondary {
  font-size: .875rem;

  .section-nav {
    margin-top: 1.5rem;
    list-style: none;
    padding-left: 1rem;
    border-left: $border-base;

    a {
      display: block;

      @include hover-focus {
        text-decoration: none;
      }

      &.sub-sub { padding-left: 1rem; }
    }
  }

  @include breakpoint-max($small-desktop-size - 1) {
    display: none;
  }
  @include breakpoint-min($small-desktop-size) {
    display: block;
  }
}