<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header-navbar.html %}

    <section class="container-expanded">
      <div class="columns">
        <aside class="column-of-2 tablet-column-of-3 cellphone-column-of-12 sidebar">
          {% include sidebar-principal.html %}
        </aside>
        <main id="documentation-contents" class="column-of-8 tablet-column-of-9 cellphone-column-of-12">
          <h1>{{ page.title }}</h1>
          <p class="description">{{ page.description }}</p>
          {{ content }}
        </main>

        {% if page.toc %}
          <aside class="column-of-2 sidebar-secondary">
            {{ content | toc_only }}
          </aside>
        {% endif %}

      </div>
    </section>

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/app.js"></script>

  </body>

</html>