//
// Code
// --------------------------------------------------


// Variables
//
$code-color:          #ff3860 !default;
$code-background:     $white-smoke !default;
$code-font-size:      .85rem !default;
$code-padding:        .2rem .3rem !default;
$code-radius:         3px !default;
$pre-color:           $gray-900 !default;
$pre-background:      $code-background !default;
$pre-padding:         1rem !default;
$pre-margin:          1rem !default;
$kbd-color:           $white !default;
$kbd-background:      $gray-800 !default;


pre,
code,
kbd,
samp {
  font-family: $font-family-monospace;
  font-size: 1em;
}

// Inline code
//
code {
  color: $code-color;
  word-break: break-word;
  background-color: $code-background;

  // Streamline the style when inside anchors to avoid broken underline and more
  a > & {
    color: inherit;
  }
}

// Blocks of code
//
pre {
  display: block;
  font-size: $code-font-size;
  color: $pre-color;
  padding: $pre-padding;
  margin-bottom: $pre-margin;
  overflow: auto;
  // We have @viewport set which causes scrollbars to overlap content in IE11 and Edge, so
  // we force a non-overlapping, non-auto-hiding scrollbar to counteract.
  -ms-overflow-style: scrollbar;
  background-color: $pre-background;

  // Account for some code outputs that place code tags in pre tags
  code {
    font-size: inherit;
    padding: 0;
    color: inherit;
    word-break: normal;
  }
}

code,
kbd {
  border-radius: $code-radius;
  font-size: $code-font-size;
  padding: $code-padding;
}

kbd {
  color: $kbd-color;
  background-color: $kbd-background;
}