//
// Icon
// --------------------------------------------------


// Variables
//
$icon-color: $text-color !default;


.chevron-down-icon {
  position: absolute;
  right: 8px;
  top: 16px;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: -5px 0;
  background: none;

  &:before,
  &:after {
    content: "";
    display: block;
    width: 50%;
    height: 2px;
    background-color: $icon-color;
  }

  &:before {
    transform: rotate(45deg);
    margin-top: 8px;
    margin-left: 1px;
  }
  
  &:after {
    transform: rotate(-45deg);
    margin-left: 6px;
    margin-top: -2px;
  }
}