//
// Type
// --------------------------------------------------


// Variables
//
$headings-font-weight:    $font-weight-bold !default;
$headings-margins:        1rem 0 .5rem !default;
$h1-font-size:            2.8125rem !default;
$h2-font-size:            2.125rem !default;
$h3-font-size:            1.75rem !default;
$h4-font-size:            1.5rem !default;
$h5-font-size:            1.25rem !default;
$h6-font-size:            1rem !default;
$link-color:              $blue !default;
$link-decoration:         none !default;
$link-hover-color:        darken($link-color, 10%) !default;
$link-hover-decoration:   underline !default;
$link-transition:         color $speed ease-in-out, text-decoration $speed ease-in-out !default;


// Anchors
//
a {
  color: $link-color;
  text-decoration: $link-decoration;
  background-color: transparent;
  @include transition($link-transition);
  -webkit-text-decoration-skip: objects; // Remove gaps in links underline in iOS 8+ and Safari 8+.

  @include hover-focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;

  @include hover-focus {
    color: inherit;
    text-decoration: none;
  }

  &:focus {
    outline: 0;
  }
}

// Abbreviation
//
abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

blockquote {
  margin: 0 0 1rem;
  font-size: 1.25rem;
}

cite {
  display: block;
  font-size: 80%;
  color: $text-color + 50;

  &:before {
    content: "\2014 \00A0";
  }
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: .8em; // 80%
}

span {
  font-style: inherit;
  font-weight: inherit;
}

sub,
sup {
  position: relative;
  font-size: .75em; // 75%
  line-height: 0;
  vertical-align: baseline;
}

sub { bottom: -.25em; }
sup { top: -.5em; }

p { margin-bottom: .7rem; }


// Headings
//
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: $headings-margins;
  font-weight: $headings-font-weight;
}

h1, .h1 { font-size: $h1-font-size; }
h2, .h2 { font-size: $h2-font-size; }
h3, .h3 { font-size: $h3-font-size; }
h4, .h4 { font-size: $h4-font-size; }
h5, .h5 { font-size: $h5-font-size; }
h6, .h6 { font-size: $h6-font-size; }

// Alignment
//
.text-left { text-align: left; }
.text-centered { text-align: center; }
.text-right { text-align: right; }