//
// Home Features Section
// --------------------------------------------------


// Variables
//
$features-breakpoint-min: 817px;
$features-breakpoint-max: 816px;


#home-features-section {
  padding: 1rem 0 3rem;
  @include breakpoint-min($features-breakpoint-min) {
    padding: 4rem 0 6rem;
  }
}

.pair-features {
  display: flex;
  flex-wrap: wrap;
  margin: auto;

  > .column {
    padding: 1rem 2rem 1rem 0;

    @include breakpoint-max($features-breakpoint-max) {
      flex-basis: auto;
      padding: 1rem 0;

      h1 { font-size: 2rem; }
    }

    > p {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      min-height: 5rem;
      font-size: 1.5rem;

      @include breakpoint-min($features-breakpoint-min) {
        min-height: 8rem;
      }
    }
  }
}