//
// Home Top Section
// --------------------------------------------------


// Variables
//
$current-version-color: #9c9c9c;



#home-top-section {
  background-color: $pale-background;

  .columns {
    height: 30rem;
    align-content: center;

    @include breakpoint-min($cellphone-size) {
      height: 33rem;
    }

    > div {
      margin: auto;
    }

    h1 {
      font-size: 2.8125rem;
      line-height: 1.3;

      @include breakpoint-min($tablet-size) {
        font-size: 3.75rem;  // 60px
      }
    }

    .button {
      display: block;
      font-size: 1.25rem;
      padding: .5rem 1rem;
      margin: 1rem auto;

      @include breakpoint-min($cellphone-size) {
        display: inline-block;
        padding: .8rem 2rem;
        margin: 2rem auto 1rem;

        + .button { margin-left: 1rem; }
      }
    }
  }

  .sass-framework {
    padding: 0 .3125rem;
    color: $white;
    background-color: $text-color;
  }

  .currently-version { color: $current-version-color; }
}