//
// Home Footer Section
// --------------------------------------------------


// Variables
//
$footer-link-color: darken($pale-background, 55%);
$footer-link-hover-color: darken($footer-link-color, 10%);


#home-footer-section {
  padding: 4rem 0 2rem;;
  font-size: 85%;
  position: relative;
  background-color: $pale-background;

  nav {
    margin-bottom: 1rem;
  }
}