//
// Modified variables
// --------------------------------------------------


// Documentation variables
//
$principal-color: #f9f458;
$pale-background: #f9f9f9;


// Navs
//
$nav-dropdown-icon-color: lighten(#343a40, 30%);
$nav-dropdown-hover-icon-color: $nav-dropdown-icon-color;